body {
    font-family: Cambria;
    background-color: hsl(216, 12%, 8%);
    color: white;
}

.mid-div{
    position: absolute;
    background-color: hsl(213, 19%, 18%);
    border: 1px solid crimson;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 20px;
}

.para-mid{
    font-size: 15px;
    font-weight: 400 700;
    
}

.rates{
    text-align: center;
}

.radio-butt{
    opacity: 0;
}

.rate-label{
    
    background-color: hsl(216, 12%, 54%);
    height: 50px;
    width: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    font-size: 20px;
    margin: 0px;
}

.submit{
    display: block;
    width: 100%;
    border: none;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
    padding: 10px;
}
